<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <title>Edit Product <%= product.name %></title>
    </head>
    <body  class="formularioAdminBody">
        <main>
            <div class="container-xxl login-register admin">
            <div class="rowAdminForm">
                <div class="col login-logo admin">
                    <img src="/images/logo-nobg.png" />
                </div>
            </div>
            <div class="row adminRow">
                <section class="formulario form-login adminForm ">
                    <h2 class="">Estás editando: <i><%= product.name %> </i></h2>
                    <form method="POST"  action="/products/edit/<%= product.id %>?_method=PUT" method="POST">
                        <div class="">
                        <label for="name" class="">Nombre del tour:</label>
                        <input
                            value="<%= product.name %>"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Ej: Zapatillas Reebok"
                            class="" />
                        </div>
                        <div>
                            <label for="price" class="">Precio del producto:</label>
                            <input
                                value="<%= product.price %>"
                                type="text"
                                id="price"
                                name="price"
                                placeholder="Ej: 23243 "
                                class="" />
                        </div>

                        <div>
                            <label for="discount" class="">Descuento del producto:</label>
                            <input
                                value="<%= product.discount %>"
                                type="text"
                                id="discount"
                                name="discount"
                                placeholder="Ej: 5 "
                                class="" />
                        </div>
                        <div>
                            <label for="description" class=""
                                >Descripcion del producto:</label
                            >
                            <input
                                value="<%= product.description %>"
                                type="text"
                                id="description"
                                name="description"
                                placeholder="Describe el tour "
                                class="" />
                        </div>
                        <div>
                            <label for="opinions" class="">Opiniones del producto:</label>
                            <input
                                value="<%= product.opinions %>"
                                type="number"
                                id="opinions"
                                name="opinions"
                                placeholder=""
                                class="" />
                        </div>
                        <div>
                            <label for="rate" class="">Puntuacion del tour:</label>
                            <input
                                value="<%= product.rate %>"
                                type="tel"
                                id="rate"
                                name="rate"
                                placeholder=""
                                class="" />
                        </div>
                        <div>
                            <label for="city" class="">Ciudad del tour:</label>
                            <input
                                value="<%=product.city%>"
                                type="Text"
                                id="city"
                                name="city"
                                placeholder="Indica la ciudad del tour"
                                class="" />
                        </div>
                        <input href="/index" type="submit" value="Editar" />






                    </form>
                </section>
            </div>
            <div class="justMakeSpaceBro"></div>
        </main>
        <!-- <footer class="footer row"%-include ("./partials/footer") %> /footer> -->
    </body>
</html>