<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ("../partials/head") %>
    </head>
    <body class="productsBody">
        <header><%-include("../partials/header")%></header>
        <main class="productsMain">
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Europa</h2>
                    </div>
                    <% products.forEach(product => { %>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="justBorder">
                           
                                <div class="img-container" style="padding: 1%">
                                    <h2 id="tourName"><%= product.name %></h2>
                                    <div class="img-card-detail">
                                        <img
                                            width="70%"
                                            src="/images/productsImages/<%=product.image %>"
                                            alt="<%= product.city %> " />
                                    </div>
                                    <div class="product-description div">
                                        <p><%= product.description %></p>
                                    </div>
                                    <div class="product-price div">
                                        <h3>
                                            $ <%= product.price * (100 -
                                            product.discount) /100 %>.- ARS
                                        </h3>
                                    </div>
                                    <div class="product-price div">
                                        <h3><%= product.discount %>% OFF</h3>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </main>
        <!-- /todos los productos -->
        <footer><%-include ("../partials/footer") %></footer>
    </body>
</html>
