<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
    </head>
    <body  class="formularioAdminBody">
        <header><%-include("../partials/header")%></header>
        <main>
            <div class="container-xxl login-register admin">
            <div class="rowAdminForm">
                <div class="col login-logo admin">
                    <img src="/images/logo-nobg.png" />
                </div>
            </div>
            <div class="row adminRow">
                <section class="formulario form-login adminForm ">
                    <h5 style="
                    padding: 2%;
                ">Nuevo tour</h5>
                    <form method="POST" action="/product/formulario" enctype="multipart/form-data" style="
                    padding: 3%;
                ">
                        <label>Seleccionar una imagen para el tour:</label>
                        <input
                            class="input-login"
                            type="file"
                            name="image"
                            accept=".jpg"
                            multiple
                            />
                        <input
                            class="input-login"
                            type="text"
                            name="name"
                            placeholder="Titulo del tour"
                            />
                        <% if (locals.errors && errors.name) { %>
                        <p  style="color: white"><%= errors.name.msg %></p>
                        <% } %>  
                        <input
                            class="input-login"
                            type="text"
                            name="description"
                            placeholder="Descripcion del tour"
                            />
                        <input
                            class="input-login"
                            type="tel"
                            name="opinions"
                            placeholder="Cantidad de opiniones"
                            />
                        <% if (locals.errors && errors.opinions) { %>
                        <p  style="color: white"><%= errors.opinions.msg %></p>
                        <% } %> 
                        <input
                            class="input-login"
                            type="tel"
                            name="rate"
                            placeholder="Promedio de puntuacion del tour"
                            />
                            <% if (locals.errors && errors.rate) { %>
                                <p  style="color: white"><%= errors.rate.msg %></p>
                                <% } %> 
                                <select name="country" class="input-login">
                                    <option disabled selected>Pais del tour</option>
                                    <% paises.forEach( pais => { %>
                                     <option> <%= pais.name %> </option>
                                    <% }) %>
                                </select>
                        <% if (locals.errors && errors.country) { %>
                        <p  style="color: white"><%= errors.country.msg %></p>
                        <% } %>  
                        <input
                            class="input-login"
                            type="text"
                            name="city"
                            placeholder="Ciudad del tour"
                            />
                        <% if (locals.errors && errors.city) { %>
                        <p  style="color: white"><%= errors.city.msg %></p>
                        <% } %>  
                            <select name="continent" class="input-login">
                                <option disabled selected>Continente del tour</option>
                                <option value="africa">África</option>
                                <option value="asia">Asia</option>
                                <option value="america">América</option>
                                <option value="europa">Europa</option>
                                <option value="oceania">Oceanía</option>
                              </select>
                        <% if (locals.errors && errors.continent) { %>
                        <p  style="color: white"><%= errors.continent.msg %></p>
                        <% } %>  
                        <input
                            class="input-login"
                            type="number"
                            name="price"
                            placeholder="Precio"
                            />
                        <input
                            class="input-login"
                            type="number"
                            name="discount"
                            placeholder="Descuento"
                            />
                        <input class="btn-login" type="submit" value="Agregar tour" />
                    </form>
                </section>
            </div>

        </main>
        <!-- <footer class="footer row"%-include ("./partials/footer") %> /footer> -->
    </body>
</html>