<!DOCTYPE html>
<html lang="es">
    <head>
        <%-include ("../partials/head") %> 
    </head>
    <body>
        <header><%-include("../partials/header")%></header>
        <main>
        <main class="main-detail">
            <!-- <section class="logo-login"> 
                <img src="/images/logo-nobg.png" alt="logo">
                </section> -->
            <section class="product-detail container-xxl login-register">
                <div class="img-container">
                <h2 id="tourName"><%= tour.name %></h2>
                <div class="img-card" >
                    <img width="80%" src="/images/productsImages/<%= tour.image %>" alt="<%= tour.city %> " />
                </div           >
                <div              class="product-description div">
                    <p class="description"> <%= tour.description %> </p>
                </div>
                <div class="product-price div">
                    <h3>$<%= tour.price %> ARS</h3>
                </div>
                <div class="button-container div">
                    <button type="submit" class="buttonProductOption buttonProductOptionColor buttonProductHover">Agregar al carrito</button>
                    <button type="submit" class="buttonProductOption buttonProductOptionColor buttonProductHover">Comprar</button>
                </div>
            </section>
            <div class="row-test opinions">
                <div class="col-test">
                    <span class="heading">Opiniones del tour</span>
                    <div class="fiveStars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <p>4.1 promedio basado en 254 opiniones </p>
                    <div class="row-test">
                        <div class="side">
                            <div>5 Estrellas</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-5"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>150</div>
                        </div>
                        <div class="side">
                            <div>4 Estrellas</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-4"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>63</div>
                        </div>
                        <div class="side">
                            <div>3 Estrellas</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-3"></div>
                            </div       >
                        </div         >
                        <div      class="side right">
                            <div>15</div>
                        </div>
                        <div class="side">
                            <div>2 Estrellas</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-2"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>6</div>
                        </div>
                        <div class="side">
                            <div>1 Estrella</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-1"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>2</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials">
                <div class="inner-test">
                    <div class="row-test">
                        <div class="col-test">
                            <div class="testimonial-test">
                                <img src="/images/p3.png" alt="">
                                <div class="name-test">Luciana</div>
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p>Lo que más me gustó fué la predisposición del guía. La actividad superó mis espectativas. Lo super recomiendo!!</p>
                            </div>
                        </div>
                        <div class="col-test">
                            <div class="testimonial-test">
                                <img src="/images/p2.png" alt="">
                                <div class="name-test">Roberta</div>
                                <div class="stars-test">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                </p>
                            </div>
                        </div>
                        <div class="col-test">
                            <div class="testimonial-test">
                                <img src="/images/p1.png" alt="">
                                <div class="name-test">Lionel</div>
                                <div class="stars-test">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="font-heading">Tours similares</h2>
                </div>
            </div>
            <div class="container">
                <div class="row row-cols-1  row-cols-sm-1 row-cols-lg-3 row-cols-xl-3 g-2 g-lg-3">
                    <% otrosTours.forEach(tour => { %>
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <article>
                                <div class="img-card">
                                    <img width="100%" src="/images/productsImages/<%=tour.image %>" alt="<%=tour.city %>" />
                                    <!-- <a href="./productCart"><p>RESERVAR</p></a> -->
                                </div>
                                <p class="text-card"><%=tour.description %></p>
                            </article>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </main>
        <footer class="footer row">
            <%-include ("../partials/footer") %> 
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>