<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editando usuario</title>
        <%-include ("../partials/head") %>
    </head>
    <body>
        <header>
            <%-include ("../partials/header") %>
         </header>
    <div class="container-xxl login-register">
        <section class="form-edituser">
        <h2 class="">
            Estás editando:
            <i><%= user.name+", "+"cuyo id es"+" "+user.id%> </i>
        </h2>

        <form action="/users/edituser/<%= user.id %>?_method=PUT" method="POST"  enctype="multipart/form-data">
            <div class="">
                <label for="name" class="">Nombre del usuario:</label>
                <input
                    value="<%= user.name %>"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Ej: Pedro Alfonso"
                    class="input-login" />
            </div>
            <div>
                <label for="email" class="">Email:</label>
                <input
                    type="text"
                    id="email"
                    name="email"
                    value="<%= user.email %>"
                    class="input-login" />
            </div>
            <div>
                <label for="phoneNumber" class="">Número de contacto:</label>
                <input
                    type="text"
                    id="phoneNumber"
                    name="phoneNumber"
                    value="<%= user.celular %>"
                    class="input-login" />
            </div>
            <div>
                <label for="password" class="">Password:</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder=""
                    class="input-login" />
            </div>
            <div>
                <label for="uploadFile" class="">Avatar:</label>
                <input
                                    class="input-login avatar"
                                    type="file"
                                    name="avatar" />
            </div>
            <div>
                <a href="/users/profile"
                    ><input class="btn-login" type="submit" value="Editar"
                /></a>
            </div>
        </form>
       </section>
    </div>
    </body>
</html>
